html, body, p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.main {
  background: #F9F9F9;
  min-height: 800px;
  margin: 0;
  height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.version {
  opacity: 0.37;
  margin-top: 106px;
  margin-bottom: 87px;
}

.title {
  font-size: 72px;
  margin-bottom: 35px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 15px;
}

.title--gray {
  opacity: 0.23;
}

.subtitle {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
  margin-bottom: 55px;
}

.text--bold {
  font-weight: bold;
  line-height: 23px;
  font-size: 16px;
}

.line-break {
  background: #C7C7C7;
  max-width: 800px;
  width: 100%;
  height: 1px;
  margin: 10px 0 15px;
}

.topic-block {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 67px;
}

.topic {
  line-height: 27px;
  font-size: 16px;
  opacity: 0.3;
  width: 200px;
  margin-right: 100px;
}

.topic:last-child {
  margin-right: 0;
}

.desc-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 109px;
  max-width: 900px;
  width: 100%;
}

.desc-item {
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.desc-item:last-child {
  margin-right: 0;
}

.idea {
  background: #fff;
  padding-top: 120px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 55px;
}

.features-block {
  max-width: 300px;
  margin-right: 50px;
  margin-bottom: 20px;
}

.features-block:last-child {
  margin-right: 0;
}

.features-title {
  font-weight: bold;
  line-height: 23px;
  font-size: 16px;
  margin-bottom: 18px;
}

.property {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, .13);
  box-sizing: border-box;
  padding: 50px 10px;
  margin-bottom: 120px;
}

.property-subtitle {
  margin-bottom: 0px;
}

.property-desc {
  max-width: 500px;
}

.text--tooltip {
  display: inline-block;
  background: #E3E3E3;
  height: 26px;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: bold;
  position: relative;
}

.link {
  color: #2D9CDB;
  text-decoration: none;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  background: #505050;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  bottom: 40px;
  left: -20px;
  border-radius: 4px;
  padding: 20px;
  min-width: 300px;
  font-family: 'Georgia', 'Montserrat', sans-serif;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #505050 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptitle {
  font-weight: bold;
  margin-bottom: 3px;
}