.features {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 150px;
}

.features__block {
  max-width: 400px;
  margin-right: 100px;
  margin-bottom: 60px;
}

.features__block:last-child,
.features__block:nth-child(2) {
  margin-right: 0;
}

.features_small {
  margin-bottom: 44px;
}

.features__block_small {
  max-width: 300px;
  margin-right: 50px;
}

.features__block_small:nth-child(2) {
  margin-right: 50px;
}

.features__block_small:last-child {
  margin-right: 0;
}

.features__formula {
  margin-top: 24px;
}

@media(max-width: 414px) {
  .features {
    margin-bottom: 40px;
  }

  .features__block {
    max-width: 400px;
    margin-right: 0px;
    margin-bottom: 40px;
  }

  .features__block_small {
    margin-right: 10px;
  }

  .features__block_small:nth-child(2) {
    margin-right: 10px;
  }

  .features.features_small {
    margin-bottom: 0px;
  }
}

.features__title {
  margin-bottom: 18px;
}

.property {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  border: 2px solid rgba(0, 0, 0, .13);
  box-sizing: border-box;
  padding: 50px 10px;
  margin-bottom: 60px;
}

.property__subtitle {
  margin-bottom: 0px;
}

.property__desc {
  max-width: 500px;
}