.solution {
  padding-top: 70px;
}

.solution_pair {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-bottom: 120px;
  font-size: 22px;
  line-height: 32px;
}

.solution_pair > .solution__block {
  margin-right: 100px;
}

@media(max-width: 1024px) {
  .solution_pair > .solution__block {
    margin-right: 20px;
  }

  .solution_pair > .solution__block:first-child {
    margin-bottom: 30px;
  }
}

.solution__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.solution__img_team {
  margin-bottom: 150px;
}

.solution__desc {
  max-width: 600px;
  margin: 10px 0 26px;
}

.solution__desc_tall {
  max-width: 400px;
  margin: 10px 0 26px;
}

.solution__desc_tall > p {
  padding-top: 14px;
}

.solution__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.solution__block {
  min-width: 300px;
  box-sizing: border-box;
}

.solution__item {
  margin-bottom: 10px;
  position: relative;
  margin-left: 30px;
}

.solution__item:before {
  content: '';
  position: absolute;
  left: -30px;
  top: 12px;
  width: 14px;
  height: 1px;
  background: #000;
}

.solution__item_title {
  margin-bottom: 10px;
  position: relative;
}

.description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.description__leftside {
  max-width: 600px;
  margin-bottom: 30px;
}

.description__rightside {
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

.description__img {
  max-width: 300px;
  margin-bottom: 33px;
}

.description__formula {
  margin-bottom: 30px;
}