.banner {
  padding: 125px 0 122px 0;
  background: #fff;
  color: #333;
}

.banner-header {
  margin: 0 0 46px;
}

.banner-title {
  display: inline-block;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #333;
  vertical-align: middle;
}

.banner-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 44px;
}

.banner-featues-title {
  font-size: 24px;
  line-height: 1.33;
  font-weight: 400;
}

.banner-featues-separate {
  color: #C4C4C4;
}

.banner-featues-subtitle {
  font-size: 16px;
  color: #C4C4C4;
}

.banner-featues-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 100px 0 0;
}

.banner-featues-item:last-child {
  margin-right: 0;
}

.banner-featues {
  margin: 0 0 77px;
}

.banner-join-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.625;
  margin: 0 40px 0 0;
}

.banner-join-logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0 40px 0 0;
}

.bitforex {
  margin: 0 0 0 -10px;
}

@media (max-width: 1023px) {
  .banner-title {
    font-size: 60px;
  }

  .banner-logo svg {
    width: 100px;
    height: 100px;
  }

  .banner-featues-item {
    margin: 0 50px 0 0;
  }
}

@media (max-width: 767px) {
  .banner {
    padding: 40px 0;
  }

  .banner-title {
    display: block;
    margin: 0 0 20px;
    font-size: 40px;
  }

  .banner-logo {
    margin: 0;
  }

  .banner-logo svg {
    width: 70px;
    height: 70px;
  }

  .banner-featues {
    margin: 0 0 20px;
  }

  .banner-featues-item {
    display: block;
    margin: 0 0 20px;
  }

  .banner-join-label {
    display: block;
    margin: 0 0 10px;
  }

  .banner-join-logo {
    display: block;
    margin: 0 0 10px;
  }
}
