html, body, p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.bg-grey {
  background: #F9F9F9;
  min-height: 800px;
  margin: 0;
  padding-top: 60px;
}

.bg-grey.bg-grey_solution {
  min-height: auto;
}

.bg-grey.bg-grey_solution .features {
  margin-bottom: 75px;
}

.bg-grey_first {
  padding-top: 40px;
}

.bg-grey_first.bg-grey {
  max-height: 672px;
  min-height: 672px;
  height: 100%;
}

@media(max-width: 768px) {
  .bg-grey_scheme {
    min-height: 450px;
  }
}

.bg-white {
  background: #fff;
  padding-top: 60px;
}

.bg-blue {
  background: linear-gradient(180deg, rgba(216, 232, 232, 0.3) 0%, rgba(216, 232, 232, 0) 100%);
  padding-top: 60px;
  padding-bottom: 40px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.version {
  opacity: 0.37;
  margin-bottom: 105px;
}

.title {
  font-size: 72px;
  margin-bottom: 35px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 15px;
}

.title_main {
  font-size: 72px;
  margin-bottom: 35px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 15px;
}

.title_gray {
  opacity: 0.23;
}

.subtitle {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
  margin-bottom: 55px;
  display: block;
  max-width: 700px;
}

.subtitle_bold {
  font-size: 36px;
  line-height: 44px;
  font-weight: 800;
}

.subtitle_grey {
  color: #E6E5E5;
}

.subtitle_fat {
  max-width: 800px;
  font-weight: normal;
}

.headline {
  font-weight: bold;
  line-height: 23px;
  font-size: 16px;
  color: #000000;
}

.text {
  line-height: 27px;
  font-size: 16px;
}

.line-break {
  background: #C7C7C7;
  max-width: 800px;
  width: 100%;
  height: 1px;
  margin: 10px 0 15px;
}

.line-break_short {
  background: #000;
  width: 72px;
  height: 1px;
  margin: 80px 0 20px;
}

.link {
  color: #2D9CDB;
  text-decoration: none;
}

.caption {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 15px;
}

.caption_tall {
  display: block;
  max-width: 700px;
}

.caption_active {
  color: #000;
  font-size: 22px;
  line-height: 32px;
  cursor: pointer;
  text-decoration: none;
}

.caption_grey {
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.32);
  cursor: pointer;
  text-decoration: none;
}

.caption_margin {
  margin-bottom: 70px;
  max-width: 800px;
}

.caption_roadmap {
  margin-bottom: 53px;
  max-width: 900px;
}

.caption_block {
  max-width: 500px;
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 45px;
}

.subtitle_with-caption {
  margin-bottom: 30px;
}

.paragraph {
  margin-bottom: 12px;
}

.text_tooltip {
  display: inline-block;
  background: #E3E3E3;
  height: 26px;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: bold;
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  background: #505050;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  bottom: 40px;
  left: -20px;
  border-radius: 4px;
  padding: 20px;
  min-width: 300px;
  font-family: 'Georgia', 'Montserrat', sans-serif;
}

/* .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #505050 transparent transparent transparent;
} */

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.btn {
  max-width: 300px;
  min-width: 260px;
  height: 64px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  background: #fff;
}

.btn:hover {
  color: #757575;
  border-color: #757575;
}

.btn_download {
  margin: 0 auto 150px;
}

.tippy-tooltip.tooltiptext-theme {
  background: #505050;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  padding: 20px;
  min-width: 260px;
  text-align: left;
  font-family: 'Georgia', 'Montserrat', sans-serif;
}

.mass-media_title {
  margin-top: 78px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.37);
}

.mass-media {
  display: flex;
  flex-wrap: wrap;
}

.mass-media a {
  margin-right: 30px;
}

.problem {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

@media(max-width: 500px) {
  .problem {
    margin-bottom: 80px;
  }
}

.problem_right-side {
  margin: 0 auto;
}

@media(max-width: 415px) {
  .line-break_short {
    margin: 25px 0 15px 0;
  }

  .caption {
    font-size: 19px;
    line-height: 28px;
  }

  .caption_tall:last-child {
    margin-bottom: 80px;
  }

  .title {
    font-size: 28px;
    line-height: 32px;
  }

  .subtitle {
    font-size: 29px;
    line-height: 42px;
  }

  .subtitle_fat {
    margin-bottom: 0;
  }

  .bg-white, .bg-grey {
    padding-top: 24px;
    min-height: auto;
  }

  .bg-grey_first.bg-white {
    padding-top: 50px;
    min-height: auto;
  }

  .bg-white.bg-grey_scheme {
    padding-top: 0;
  }

  .bg-blue {
    padding-bottom: 0;
  }

  .btn_download {
    margin-bottom: 80px;
  }
}

@media(max-width: 600px) {
  .bg-grey_first.bg-grey {
    min-height: 800px;
    max-height: 800px;
  }
}