html, body, p {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000;
  font-weight: 400;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.bg-grey {
  background: #F9F9F9;
  min-height: 800px;
  margin: 0;
  padding-top: 120px;
}

.bg-grey_first {
  height: 100vh;
  padding-top: 106px;
}

.bg-white {
  background: #fff;
  padding-top: 120px;
}

.bg-blue {
  background: linear-gradient(0deg, rgba(216, 232, 232, 0.3) 0%, rgba(216, 232, 232, 0.3) 100%);
  padding-top: 130px;
  padding-bottom: 100px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.version {
  opacity: 0.37;
  margin-bottom: 87px;
}

.title {
  font-size: 72px;
  margin-bottom: 35px;
  line-height: 72px;
  font-weight: 400;
  margin-bottom: 15px;
}

.title_gray {
  opacity: 0.23;
}

.title_bold {
  font-size: 36px;
  line-height: 44px;
  font-weight: 800;
}

.subtitle {
  font-size: 36px;
  line-height: 53px;
  font-weight: 400;
  margin-bottom: 55px;
}

.text_bold {
  font-weight: bold;
  line-height: 23px;
  font-size: 16px;
}

.text {
  line-height: 27px;
  font-size: 16px;
}

.line-break {
  background: #C7C7C7;
  max-width: 800px;
  width: 100%;
  height: 1px;
  margin: 10px 0 15px;
}

.link {
  color: #2D9CDB;
  text-decoration: none;
}

.caption {
  font-size: 22px;
  line-height: 32px;
  margin-bottom: 15px;
}

.caption_grey {
  font-size: 22px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.32);
  cursor: pointer;
}

.caption_active {
  color: #000;
}

.caption_margin {
  margin-bottom: 70px;
  width: 800px;
}

.subtitle_with-caption {
  margin-bottom: 30px;
}

.paragraph {
  margin-bottom: 12px;
}

.text_tooltip {
  display: inline-block;
  background: #E3E3E3;
  height: 26px;
  padding: 0 5px;
  box-sizing: border-box;
  vertical-align: baseline;
  font-weight: bold;
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  position: absolute;
  background: #505050;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  bottom: 40px;
  left: -20px;
  border-radius: 4px;
  padding: 20px;
  min-width: 300px;
  font-family: 'Georgia', 'Montserrat', sans-serif;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50px;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #505050 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltiptitle {
  font-weight: bold;
  margin-bottom: 3px;
}

.btn {
  width: 300px;
  height: 64px;
  font-size: 16px;
  line-height: 23px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  color: #000;
  text-decoration: none;
  background: #fff;
}

.btn:hover {
  color: #757575;
  border-color: #757575;
}